---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
---

<MainLayout title="EVENTS AND COLLABORATIONS">
  <Header slot="header" events="active" />
  <p class="introduction">
    Explore our past and upcoming events, collaborations, and celebrations, showcasing how our beer brings people together.<br /><br /> At Kiddush, we believe in the power of community and the transformative
    nature of social events. They are not just occasions to enjoy our exceptional beer, but opportunities to connect, celebrate, and create cherished memories with each other.
  </p>
  <section>
    <h2>2023</h2>
    <article>
      <img src="/img/musikilejet.webp" alt="collab with musik i lejet" />
      <h3>MUSIK I LEJET</h3><p>
        We're thrilled to announce that Kiddush Brewery will be serving our beloved beer at this year's Musik I lejet festival!<br /><br />If you're feeling thirsty, this is the perfect opportunity to
        try our flavorful brews, perhaps for the first time. We can't wait to see you there, ready to soak up the festival atmosphere and indulge in the delightful taste of Kiddush beer.<br /><br
        />Cheers to a fantastic time!
      </p>
    </article>
    <article>
      <img src="/img/takt.webp" alt="collab with takt" />
      <h3>TAKT - 3 DAYS OF DESIGN</h3>
      <p>
        We are thrilled to collaborate with TAKT, a renowned furniture company, for their upcoming event, '3 Days of Design.' As purveyors of fine beer, we are delighted to supply this exciting
        occasion with 240 beers.<br /><br />It is our pleasure to contribute to the event's ambiance and enhance the overall experience with the perfect beverage to complement TAKT's stunning
        furniture designs.
      </p>
    </article>
  </section>
  <section class="bg_alternate">
    <h2>2022</h2>
    <article>
      <img src="/img/gaia.webp" alt="collab with gaia" />
      <h3>GAIA</h3>
      <p>
        In October of 2022, we secured our very first spot at the esteemed local bar, Gaia, right here in Copenhagen.<br /><br />We invite you to visit Gaia and experience the joy of sharing a
        refreshing pint of Kiddush with friends. It's the perfect opportunity to savor our meticulously crafted beers while immersing yourself in the vibrant atmosphere of this amazing bar.<br /><br
        />So gather your friends, head over to Gaia, and discover the perfect blend of friendship and beer.
      </p>
    </article>
    <article>
      <img src="/img/zetland.webp" alt="collab with Zetland" />
      <h3>Zetland</h3>
      <p>
        Last year, we celebrated a significant milestone with our first-ever collaboration alongside the esteemed news media outlet, Zetland. Together, we crafted a special IPA that merged the flavors
        of Kiddush and the essence of Zetland.<br /><br />It was a memorable partnership that allowed us to showcase our brewing expertise and create a unique brew that captivated the taste buds.
        Cheers to an exciting collaboration and the beginning of a fruitful relationship!
      </p>
    </article>
  </section>
</MainLayout>

<style>
  .bg_alternate {
    background-color: var(--background2);
  }

  h2,
  h3,
  p {
    margin-left: 14px;
    margin-right: 14px;
  }

  h2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }

  article {
    padding-bottom: 60px;
  }

  .introduction {
    margin-top: 50px;
  }

  h2 {
    text-align: center;
    text-transform: uppercase;
    color: var(--kiddushblack);
  }
</style>
