---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/main.css";
const { title, id } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noindex, nofollow" />
    <link rel="stylesheet" href="https://use.typekit.net/qix3pyi.css" />
    <title>{title}</title>
  </head>

  <body>
    <slot name="header" />
    <main>
      <h1 id={id}>{title}</h1>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style></style>
